# Render service: auth.nkwapa.app

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://<neon-host>/<database>?sslmode=require
KC_DB_USERNAME=<neon-user>
KC_DB_PASSWORD=<neon-password>

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_HTTP_ENABLED=true
KC_PROXY_HEADERS=xforwarded
KC_HOSTNAME=https://auth.nkwapa.app

KEYCLOAK_ADMIN=<bootstrap-admin-username>
KEYCLOAK_ADMIN_PASSWORD=<bootstrap-admin-password>
